.contenedor-header{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    padding: 1%;
}

.nav-bar{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    font-family: 'Franklin Gothic Medium';
    width: 100%;
}
