.contenedor-header{
    position: relative;
    background-color: black;
    width: 100%;
    height: 2rem;
    font-family: 'Franklin Gothic Medium';
    padding: 0.5em 0;
}

.top-centered{
    position: absolute;
    top: 0.5em;
    left: 50%;
}