.form-container{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}

.form{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
    gap: 0.5em;
    padding: .5em;
    background-color: rgb(198, 198, 198);
    opacity: 0.9;
}

.text-card {
    background-color: rgb(255, 255, 255);
    padding: .5em;
    border-radius: 10px;
    font-size: .85rem;
    margin: .2rem;
}

.btn-hover{
    &:hover{
        transform: scale(0.9);
        background-color:  rgb(82, 82, 82);
        transition: all .3s ease;
}
}