/* Reset CSS */
html, body, div, h1, h2, h3, p, blockquote, ul, ol, li, dl, dt, dd, img, figure, figcaption, hr, pre, table, tr, td, th, input, textarea, select, button {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

body{
    background: url('./Assets/fl-bg-logo.png') no-repeat center/cover;
    background-color: #32322C;
}